@charset "UTF-8";
@font-face {
    font-family: 'fontandroid';
    src: url('idroid.otf') format('opentype');
    
}
 
body {
    background-color: #4da03d8a;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
a.externo::after {
    content: '\1F517';
}
header {
    height: 290px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background-image: linear-gradient(to top, #093b1e, #1f7a45, #4aad73 );
}
header > h1 {
    color: white;
    margin: 0px;
    padding: 50px 0px 0px 0px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: normal;
    text-shadow: 2px 2px 3px #0b3d20;

}
header > p {
    height: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 3px #0b3d20;
    padding: 10px 10px 60px 10px;
    margin: 10px;
}
header > menu {
    display: flexbox;
    height: 0px;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 2px;
}
header > menu > nav {
    display: flexbox;
    height: 30px;
    width: auto;
    margin: 45px 0px 0px 0px;
    padding: 0px 10px;
    box-shadow: 0px 7px 7px #00000050;
    
}

    
header > menu > nav > a > button{
    display: flexbox;
    background-color: transparent ;
    height: 30px;
    width: 100px;
    margin: 0px 5px 100px 0px;
    padding: 0px;
    border: none;
    font-family: Arial;
    font-size: 14px;
    font-weight: 900;
    color: #83e1ad;
    border-radius: 5px;
    transition-duration: .3s;
}
header > menu > nav > a > button:hover {
    cursor: pointer;
    color: #052412;
    text-transform: uppercase;
    
    
}
main {
    display: block;
    background-color: white;
    height: 100%;
    max-width: 900px;
    min-width: 230px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.596);
    border-radius: 0px 0px 10px 10px;

}
main > h1 {
    color: #0b3d20;
    height: auto;
    margin: auto;
    padding: 50px 0px 50px 0px;
    font-family: 'fontandroid';
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}
main > h2 {
    color: #1a5c37;
    background-image: linear-gradient(to right, #89e3b1, #89e3b288, #10633500 );
    font-family: fontandroid;
    font-size: 20px;
    font-weight: normal;
}
main > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
main > p > a {
    color: #0b3d20;
    background-color: #89e3b1;
    text-decoration: none;
    font-weight: 600;
}
main > div.img {
    text-align: center;
    padding: 0px;
    max-width: 1000px;
    min-width: 400px;
}

 a:hover {
    text-decoration: underline;
    color: #257445;
}

    

.bug {
    text-align: center;

}
section.video {
    position: relative;
   background-color: #093b1e;
   height: 500px;
   max-width: 900px;
   min-width: 230px;
   margin: auto;
   padding: auto; 
   
}
section.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}
#quer-aprender-mais {
    display: block;
    background-color: #4aad73;
    height: 600px;
    max-width: 700px;
    min-width: 230px;
    margin: auto;
    margin-top: 50px;
    padding: 0px;
    border-radius: 10px 0px;
    box-shadow: 3px 2px 2px #077c42;
    
}
section > h3 {
    height: 20px;
    background-color: #1a5c37;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    border-radius: 10px 0px 0px 0px;
    color: white;
}
.central {
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}
div > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
   
}
section p {
    padding: 0px;
    margin: 0px;
}
section > p > a {
    text-decoration: none;
    color: #0b3d20;
    background-color: #89e3b1;
    text-decoration: none;
    font-weight: 600;
    
}
section > p > a:hover {
    text-decoration: underline;
    color: #257445;
}
footer {
    background-color: #0b3d20;
    color: white;
    height: 30px;
    max-width: 100%;
    min-width: 230px;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
main p {
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;}
#final {
    margin: 20px;
    padding: 50px;
}